@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/sansation/Sansation-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/sansation/Sansation-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Sansation', sans-serif;
}

h1 {
  font-size: 30px;
  font-family: 'Sansation', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-family: 'Sansation', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-family: 'Sansation', sans-serif;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-family: 'Sansation', sans-serif;
  font-weight: 400;
}
